@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  cursor :none;
}

body {
  background-color: white;
  color: black;
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.custom-text {
  font-size : 5px;
  font-weight: 900;
  letter-spacing: 1px;
  display: none;

}

a{
  color: inherit;
  text-decoration: none;
  cursor: none;
}